*.config
/.vs/Sudo_Volpes.github.io/CopilotIndices
/.vs/Sudo_Volpes.github.io/copilot-chat/0dbc78df/sessions
/.vs/Sudo_Volpes.github.io/FileContentIndex
.vs/Sudo_Volpes.github.io/v17/.wsuo
.vs/slnx.sqlite
.vs/Sudo_Volpes.github.io/v17/DocumentLayout.json
.vs/VSWorkspaceState.json
.vs/Sudo_Volpes.github.io/v17/DocumentLayout.backup.json
